<br />
<br />
<br />
<hr />
<br />
<br />
<br />


<div class="row">

  <div class="span3"></div>
  
  <div class="span6">
    <p>
      <a href="http://beakernotebook.com">Beaker home</a> - <a href="http://beakernotebook.com/privacy">Privacy policy</a> - <a href="http://beakernotebook.com/tou">Terms of use</a>
    </p>
    
    <br />
  
    <p style="color: #999999; font-size: 75%">
    The primary mission of Two Sigma Open Source, LLC (“TSOS”) is to promote, manage and maintain open source software projects. TSOS is affiliated with Two Sigma Investments, LLC, Two Sigma Advisers, LLC and Two Sigma Securities, LLC, which (along with certain of their affiliates) engage in various investment advisory and broker-dealer activities. However, TSOS is not involved in the financial services businesses of these entities. Under no circumstances should any material on the site be used or considered as an offer to sell or a solicitation of an offer to buy any security, including any interest in any investment fund sponsored or managed by any two sigma entity, or any investment advisory services offered by any two sigma entity. 
    </p>
  </div>

</div>
