<br />
<br />
<br />
<hr />
<br />
<br />
<br />


<div class="row-fulid">

  <div class="span3"></div>

  <div class="span6" align="center">
    <p>
      The Beaker Sharing Server does not host any content, it is simply a viewer that will render notebooks stored in a publically accessible location, for example a GitHub Gist.
    </p>
    <p>
      <a href="http://beakernotebook.com">Beaker home</a> - <a href="http://beakernotebook.com/privacy">Privacy policy</a> - <a href="http://beakernotebook.com/tou">Terms of use</a><br>
      Code and documentation for this sharing server are available on <a href=https://github.com/twosigma/beaker-sharing-server>Github</a>.
    </p>

  </div>

</div>
